<div id="search-component-{{ track_id }}">
    <input type="text" class="form-control mb-2" placeholder="Search for playlist" id="playlist-search-{{ track_id }}" oninput="updateHiddenPlaylistInput({{ track_id }})">
    
    <input type="hidden" id="playlist-id-{{ track_id }}" name="playlist_id" value="">
    <input type="hidden" name="track_id" value="{{ track_id }}">

    <div id="create-playlist-form-{{ track_id }}"></div>
    
    <div class="btn-group">
        <button class="btn btn-success" hx-post="{{ url_for('add_to_playlist') }}" hx-include="[name='playlist_id'], [name='track_id']" hx-target="#search-component-{{ track_id }}" hx-swap="outerHTML">
            Add
        </button>
        <button class="btn btn-info" hx-get="{{ url_for('show_create_playlist_form', track_id=track_id) }}" hx-target="#create-playlist-form-{{ track_id }}" hx-swap="outerHTML">
            Create New Playlist
        </button>
    </div>
</div>

<script>
    function updateHiddenPlaylistInput(trackId) {
        const searchValue = document.getElementById(`playlist-search-${trackId}`).value;
        const hiddenInput = document.getElementById(`playlist-id-${trackId}`);
        hiddenInput.value = searchValue;
    }
</script>
